<h1>Register page</h1>

<form action="" method="POST">

    {% csrf_token %}
    <div>
        <label for="">Username</label>
        {{form.username}}
    </div>
    <div>
        <label for="">Email</label>
        {{form.email}}
    </div>
    <div>
        <label for="">Role</label>
        {{form.role}}
    </div>
    <div>
        <label for="">Password</label>
        {{form.password1}}
    </div>
    <div>
        <label for="">Password</label>
        {{form.password2}}
    </div>
    

    <button type="submit">Register</button>
    <p>or</p>
    <a href="{% url 'login' %}">login</a>
</form>